@page "/"

<div class="row">
    <div class="col-md-12">
        <h2>Edytor reguł rozmytych dla projektu <b>pDMP</b></h2>
        <div> Poszczególne funkcjonalności dostępne są z poziomu menu górnego: </div>
        <div> <i class="fas fa-angle-right"></i> <b>Zmienne i wartości</b> - edytor umożliwiający dodawanie, usuwanie oraz edycję rozmytych zmiennych lingwistycznych wraz z ich wartościami. </div>
        <div> <i class="fas fa-angle-right"></i> <b>Reguły</b> - edytor reguł rozmytych, pozwalający dodwać oraz modyfikować bloki przesłanek i konkluzji wybranych reguł. </div>
        <div> <i class="fas fa-angle-right"></i> <b>Generator skfuzzy</b> - xxxxxxxxxx. </div>
    </div>
</div>
