@using Fuzzy
@page "/Variables"
@inject IModalService Modal

@*<h1>Counter?xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me!!!!</button>*@


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div>
                <span @onclick="TestMe">To jest tekst</span>
                <i class="fas fa-ellipsis-v text-black-50"></i>
            </div>

            @foreach (Variable v in ModelProvider.Data.Model.Variables)
            {
                <div class="card mb-2">
                    <div class="card-header">Zmienna <span class="font-weight-bold" contenteditable="true">@v.Name</span> <i class="fas fa-ellipsis-v text-black-50"></i> - <i>@v.Description</i> <i class="fas fa-ellipsis-v text-black-50"></i></div>
                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-8">



                                <div>
                                    <img src="" alt="Wizualizacja">
                                </div>
                                <p>Parametry:</p>
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active"> Cras justo odio </a>
                                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                                </div>




                            </div>

                            <div class="col-md-4">
                                <p>Wartości lingwistyczne:</p>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio <span class="badge badge-primary badge-pill">14</span> </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in <span class="badge badge-primary badge-pill">2</span> </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus <span class="badge badge-primary badge-pill">1</span> </li>
                                </ul><a class="btn btn-secondary" href="#" contenteditable="true">Dodaj wartość</a>
                            </div>


                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


