@namespace BlazorApp1.Modals

<div>
    <div>Wprowadź lub zmień następujące właściwości wartości lingwistycznej:</div>

    <div class="form-group">
        <label for="name">Nazwa wartości lingwistycznej:</label>
        <input type="text" class="form-control form-control-sm" placeholder="Wprowadź nazwę..." id="name" @bind="Data.Name">
    </div>
    <div class="form-group">
        <label for="desc">Opis wartości lingwistycznej:</label>
        <input type="text" class="form-control form-control-sm" placeholder="Wprowadź opis..." id="desc" @bind="Data.Description">
    </div>

    <button @onclick="OkClicked" class="btn btn-primary">Zatwierdź</button>
    <button @onclick="CancelClicked" class="btn btn-secondary">Anuluj</button>
    @*<button @onclick="TestClicked" class="btn btn-secondary">Test</button>*@
</div>
