@inherits LayoutComponentBase

<NavMenu />

@*<div class="main">*@
    @*<div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>*@

<div class="py-5">
    <div class="container">
        <div class="px-4">
            @Body
        </div>
    </div>
</div>
        @*</div>*@
